@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato:ital,wght@0,300;0,400;1,700&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: fixed;
    color: #333;
    background: url('./img/background.jpg') center center/cover no-repeat;
    position: relative;
    height: 100vh;
}

body,
textarea {
    font-family: 'Lato', sans-serif;
}

main {
    padding: 5rem 2rem;
}

h1 {
    color: #f4f4f4;
    font-style: italic;
    font-size: 2rem;
    padding: 1rem 0;
}

h2 {
    padding: 0 0 1.1rem 0;
}

input,
textarea {
    border: var(--border-color) solid 1px;
    padding: 0.3rem 0.4rem;
    border-radius: 5px;
    outline: none !important;
}

table {
    border-collapse: collapse;
    background-color: var(--table-background-color);
    width: 100%;
    min-width: 700px;
}

thead {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

th {
    text-align: left;
    padding: 0.6rem 0.7rem;
}

td {
    padding: 0.5rem 0.0rem;
    border-bottom: solid 1px var(--separator-color);
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-color);
    opacity: 0.9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5rem;
    padding: 0 2rem;
    z-index: 2;
}

#navbar a {
    color: #f4f4f4;
    padding: 0.8rem 0.5rem;
    margin-right: 0.4rem;
    font-size: 1.2rem;
    text-decoration: none;
}

#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

#navbar .logo {
    font-size: 2rem;
    font-weight: 400;
}

.page-title {
    text-align: center;
    color: #5f9ea0;
    padding: 2rem 0 3rem 0;
}

.text-primary {
    color: cadetblue;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.btn {
    display: inline-block;
    background: #333;
    color: #f4f4f4;
    padding: 0.7rem 2rem;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    max-width: 300px;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    border: none;
    outline: none !important;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    font-weight: bold;
    box-shadow: 0 0 0 0;
}

.go-back {
    font-size: 1.2rem;
    text-decoration: none;
    color: cadetblue;
    margin: 2rem 0;
}

.form-container {
    max-width: 600px;
    margin: auto;
    border: #888 solid 1px;
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
    background-color: var(--light-color);
}

.form-container h4 {
    background: cadetblue;
    color: #f4f4f4;
    padding: 0.5rem;
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.6rem;
}

.form-control {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.form-control input,
textarea {
    width: 250px;
}

.delete {
    color: var(--danger-color);
    cursor: pointer;
}

.edit {
    color: var(--primary-color);
    cursor: pointer;
}

.instructions {
    padding: 1rem;
    background-color: var(--table-background-color);
    color: var(--primary-text-color);
    border: var(--border-color) solid 1px;
    opacity: 0.6;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.instructions-title {
    font-size: 2rem;
    text-align: center;
    color: var(--title-color);
}